 *{
    margin:0;
    padding:0;
     }
    .min{
        width:200px;
        padding:10px;

}
    .lbox{
        visibility: hidden;
        opacity:0;
        
     } 
    .lbox:target{
        opacity:1;
        visibility: visible;
        width:100%;
        height:100%;
        top:0;
        left:0;
        background: rgba(10,10,10,.7);
        position: fixed;
        
    }

}
.file{
    align-items: flex-end;
    
  
}
.min1{
   
    top: 6%;
    left: 50%;
    align-items: flex-end;
}
.min2{
   
    top:20%;
     align-items: flex-end;
}
.min3{
   
    top: 34%;
}
        
    
    ul{
        width:880px; 
        list-style:none;
        display: flex;
        margin: 100px auto;
    }
    .box_img{
        
        width:1000px;
        margin:150px auto;
    }
    .btn{
        color: white;
        font-family: 'Arial';
        text-decoration: none;
        position: absolute;
        width:50px;
        height:50px;
        font-size: 40px;
        text-align: center;
    }
    
    #prev{
        left:23%;
        top:50%;
        }
    #next{
        right:23%;
        top:50%;
        }
    #close{
        right:2%;
        top:0;
        }
    #img{
        width:600px;
    }
    
    .box_img img{
        opacity: 0;
            
}
    .lbox:target .box_img img{
        opacity: 1;
        transition: opacity .4s linear;
    }
.galeria{
    align-self: flex-end;
}