body {
    background-color: #212121;
    color: #cfd8dc;
    text-align: center;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    color: silver;
    flex: 1 0 auto;
    text-align: center;
    width: 78%;
    text-align: center;
    position: relative;
    margin-left: 300px;
    margin-bottom: 80px;
}

footer {
    color: #000000;
    position:fixed;
    bottom: 0px;
}

.pad{
    width: 1400px;
}